<main>
  <section class="bg-[#f1f1f1] pl-20">
    <div class="container flex flex-col lg:flex-row items-center py-20 gap-10">
      <div class="flex-1 order-2 lg:order-1 text-center lg:text-left">
        <h1 class="text-4xl lg:text-6xl font-extrabold mb-6 text-balance">
          Agora você pode fazer o seu próprio Let's Brownie :)
        </h1>
        <p class="text-xl lg:text-2xl mb-8 text-balance">
          Descubra as receitas da sua doceria favorita.
        </p>
        <button id="button" class="px-4 py-2 text-white self-start bg-black rounded-md text-lg cursor-pointer">
          Buscar receitas
        </button>
      </div>
      <div class="flex-1 order-1 lg:order-2">
        <img src="/imgs/brownies_tradicional.jpg" class="w-full max-w-md mx-auto rounded-lg object-cover" />
    </div>
    </div>
  </section>

<section id="recipes" class="py-20 px-4 max-w-7xl mx-auto">
  <h2 class="text-3xl lg:text-5xl mb-2">Descubra, crie e compartilhe.</h2>
  <p class="text-lg lg:text-xl mb-8">Conheça nossas melhores receitas!</p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-8">
    <div class="flex flex-col shadow rounded-md bg-white" *ngIf="recipe()">
      <img
        [src]="recipe().image"
        alt="Recipe Image"
        class="rounded-t-md w-full h-48 object-cover"
      />

      <div id="card" class="flex flex-col py-6 px-4 flex-1">
        <p class="text-xl lg:text-2xl font-semibold mb-2">
          {{ recipe().name }}
        </p>

        <div class="font-normal w-full bg-white/80 flex gap-6 flex-wrap text-lg lg:text-xl mb-4 mt-auto">
          <a id="buttonView" class="px-4 py-2 text-white bg-black rounded-md">
            View
          </a>

          <div class="flex items-center gap-1">
            <img src="/assets/icons/clock.svg" alt="Time" class="w-5 h-5" />
            <span>{{ recipe().cookTimeMinutes }} mins</span>
          </div>

          <div class="flex items-center gap-1">
            <img src="/assets/icons/fire.svg" alt="Calories" class="w-5 h-5" />
            <span>{{ recipe().caloriesPerServing }} cal</span>
          </div>

          <div class="flex items-center gap-1">
            <img src="/assets/icons/star.svg" alt="Rating" class="w-5 h-5" />
            <span>{{ recipe().rating }}/5</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
