<header class="py-4 border-b">
    <nav class="flex container items-center">
        <a src="/" class="flex gap-1 items center">
            <img width="56px" densities="x1" src="/logo.png" format="webp" alt="" />
            <span class="text-3x1 font-bold">Let's Recipe</span>
        </a>
        <ul class="flex items-center gap-6 ml-auto text-xl font-bold capitalize">
        <li>
          <a to="/">Home</a>
        </li>
        <li>
          <a src="/about">About</a>
        </li>
        </ul>
        </nav>
        </header>

<section class="container">
    <h1 class="text-4xl font-bold text-center my-8">Receitas</h1>
    <p class="text-center text-lg mb-8">Aqui estão algumas receitas deliciosas para você experimentar!</p>
</section>
<section class="cards-receitas">
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>


</section>